exportPattern("^[[:alpha:]]+")
importFrom(scales, rescale)
importFrom(stats, na.omit)
importFrom(ggplot2, aes)
importFrom(ggplot2, geom_segment)
importFrom(ggplot2, geom_text)
importFrom(ggplot2, ggplot)
importFrom(ggplot2, theme_void)
importFrom(dplyr, "%>%")
importFrom(dplyr, case_when)


